{% include "header.html" %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Coffee Today,<br>Leading Tomorrow</h1>
      <h2>Want to work in a cafe but need power and wifi?</h2>
      <h2>You've found the right place! Checkout my collection of cafes.</h2>
      <a href="/signup" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  

{% include "footer.html" %}



</body>

</html>